<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dealer Sign-up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <%- include('../partials/navbar') %>
      <h1>Create a new dealer account!</h1>
  </header>
  <main>
    <section class="sign">
      <form action="/auth/dealer/sign-up" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" minlength="8" maxlength="30"/>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" minlength="8" maxlength="30"/>


        <label for="dealerName">Dealership Name: </label>
        <input id="dealerName" name="dealerName" type="text">

        <label for="phoneNumber">Phone Number: </label>
        <input id="phoneNumber" name="phoneNumber" type="number" minlength="8" maxlength="8">

        <label for="email">Email: </label>
        <input id="email" name="email" type="email">

        <label for="city">Dealership City: </label>
        <input id="city" name="city" type="text">

        <label for="address">Dealership Address: </label>
        <input id="address" name="address" type="text">

        <button type="submit">Sign up</button>
      </form>
    </section>
  </main>

</body>

</html>