<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Drive Booking</title>
</head>
<body>
    <header>
        <h1>Book Your Test Drive</h1>
    </header>
    <main>
        <section>
            <form action="/request" method="post">
                <!-- <label for="model">Lexus Model: </label>
                <input type="text" name="model" id="model"> -->
<!-- 
                <label for="dealerName">Dealership: </label>
                <input type="text" name="dealerName" id="dealerName"> -->

                <!-- <label for="fullName">Name: </label>
                <input type="text" name="model" id="model">

                <label for="phoneNumber">Phone Number: </label>
                <input type="number" name="phoneNumber" id="phoneNumber"> -->

                <label for="date">Choose Your Preferred Date & Time: </label>
                <input type="datetime" name="date" id="date">

                <label for="note">Any Notes? </label>
                <input type="text" name="note" id="note">
            </form>
        </section>
    </main>
</body>
</html>