<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Drive Booking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Book Your Test Drive</h1>
    </header>
    <main>
        <section class="sign">
            <form action="/<%= car._id %>" method="post">
                <label for="model">Lexus Model: </label>
                <input value="Lexus <%= car.model %>" type="text" name="model" id="model">

                <label for="dealerName">Dealership: </label>
                <input value="<%= car.dealer?.dealerName || 'Unknown dealer' %>" type="text" name="dealerName" id="dealerName">

                <label for="date">Choose Your Preferred Date & Time: </label>
                <input type="datetime-local" name="date" id="date">

                <label for="note">Any Notes? </label>
                <input type="text" name="note" id="note">

                <button>Book</button>
            </form>
        </section>
    </main>
</body>

</html>